<template>
  <div class="wrapper">

    <v-form class="login-form">
      <input type="text" v-model="login" class="login" placeholder="Имя">
      <input type="text" v-model="password" class="login" placeholder="Пароль">

      <div class="loginBtn" @click="userLogin">Войти</div>
    </v-form>

  </div>
</template>

<script>
import router from '@/router'
export default {
  name: "App",
  components: {},
  data() {
    return {
      login: '',
      password: ''
    };
  },
  methods: {
    userLogin () {
      if (this.login === "rafik" && this.password === "rafik") {
        localStorage.login = true
        router.push('/map')
      }
    }
  }
}
</script>

<style>
  body {
    font-size: 16px;
    line-height: 1.4;
  }
  .wrapper {
    position: relative;
    width: 1400px;
    height: 3099px;
    margin: auto;
    background: url('/main.jpg') 0 0 no-repeat;
  }

  .login-form {
    position: absolute;
    right: 130px;
    top: 291px;
  }
  input {
    display: block;
    background: #fff !important;
    color: #abadaf !important;
    width: 277px;
    height: 7px;
    font-size: 16px !important;
    font-family: Helvetica !important;
    padding: 20px 15px;
    margin: 0 0 10px;
    /* opacity: 0.3; */
    border-radius: 6px !important;
  }
  .loginBtn {
    margin: 12px 0 !important;
    display: block;
    background: #5fc08e !important;
    color: #fff !important;
    width: 277px;
    height: 44px;
    font-size: 16px !important;
    font-family: Helvetica !important;
    padding: 14px 15px;
    /* opacity: 0.3; */
    border-radius: 6px !important;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
  }
  input:focus , .loginBtn:focus {
    outline: none
  }

</style>
