<template>
  <div>
  <v-layout row wrap>
    <v-flex md9 class="p-2">
      <v-card
          class="mx-auto mr-4"
          outlined
      >

        <v-list-item three-line>
          <v-list-item-content>

            <v-list-item-title class="headline mb-1">
              {{projectData.title}}
              <v-chip
                class="ma-2"
                color="blue"
                text-color="white"
              >
                XP +
                <v-avatar
                  right
                  class="blue darken-4"
                  style="margin-left: 2px;"
                >{{projectData.xp}}</v-avatar>
              </v-chip>  
            </v-list-item-title>

            <v-list-item-subtitle>{{projectData.desc}}</v-list-item-subtitle>
            <p class="mt-3" slot="projectData.text" v-html="projectData.full_desc">{{projectData.text}}</p>
          </v-list-item-content>

        </v-list-item>

        <hr>

        <v-textarea
          outlined
          class="ma-4 mt-6 mb-0 "
          name="input-7-4"
          label="Ваше решение"
          v-model="solution"
        ></v-textarea>

        <v-card-actions class="pa-0 pb-4">
          <v-btn color="success" class="ma-4 pa-4 mt-0" rounded large @click="submit()">Отправить на проверку</v-btn>
        </v-card-actions>

        <hr>

        <div class="overline ma-4">Активность по проекту</div>

        <hr>

        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">#</th>
                <th class="text-left">Ученик</th>
                <th class="text-left">Комментарий</th>
                <th class="text-left">Статус</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="status in statuses" :key="status.id">
                <td>{{ status.id }}</td>
                <td>{{ status.user_name }}</td>
                <td>{{ status.comment }}</td>
                <td>
                  <div v-if="status.status === 'need_check'">Ожидает проверки</div>
                  <div v-else-if="status.status === 'rejected'">Отклонено</div>
                  <div v-else-if="status.status === 'approved'">Принято</div>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>

      </v-card>
    </v-flex>
    <v-flex md3 class="p-2">
      <v-card
        class="mx-auto"
        outlined
      >
        <v-list-item three-line>
          <v-list-item-content>
            <v-list-item-title class="headline mb-1">Команда проекта</v-list-item-title>
            <v-list-item-subtitle>Участники</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <div class="px-4 pb-4" v-for="teammate in team" :key="teammate.name">
          <v-menu v-model="menu" bottom right transition="scale-transition" origin="top left">
            <template v-slot:activator="{ on }">
              <v-chip pill v-on="on">
                <v-avatar left>
                  <v-img src="https://image.flaticon.com/icons/png/512/145/145843.png"></v-img>
                </v-avatar>
                {{teammate.name}}
              </v-chip>
            </template>
            <v-card width="300">
              <v-list dark>
                <v-list-item>
                  <v-list-item-avatar>
                    <v-img src="https://image.flaticon.com/icons/png/512/145/145843.png"></v-img>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title>{{teammate.name}}</v-list-item-title>
                    <v-list-item-subtitle>{{teammate.login}}</v-list-item-subtitle>
                  </v-list-item-content>
                  <v-list-item-action>
                    <v-btn icon @click="menu = false">
                      <v-icon>mdi-close-circle</v-icon>
                    </v-btn>
                  </v-list-item-action>
                </v-list-item>
              </v-list>
              <v-list>
                <v-list-item @click="() => {}">
                  <v-list-item-action>
                    <v-icon>mdi-briefcase</v-icon>
                  </v-list-item-action>
                  <v-list-item-subtitle>Опыт: {{teammate.exp}}</v-list-item-subtitle>
                </v-list-item>
              </v-list>
            </v-card>
          </v-menu>
        </div>

        <v-row class="ma-4">

          <v-dialog
            v-model="dialog"
            width="500"
          >
            <template v-slot:activator="{ on }">
              <v-btn-toggle v-model="toggle_exclusive" rounded>
                <v-btn color="orange" dark v-on="on">
                  Пригласить
                </v-btn>
                <v-btn color="amber" dark>
                  Ждать
                </v-btn>
              </v-btn-toggle>
            </template>

            <v-card>
              <v-card-title class="headline grey lighten-2" primary-title>
                Пригласить участников
              </v-card-title>

              <v-simple-table>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th class="text-left">Имя</th>
                      <th class="text-left">Опыт</th>
                      <th class="text-left">Никнэйм</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="user in users" :key="user.id">
                      <td><v-checkbox v-model="invited" :value="user.id" :label="user.name"></v-checkbox></td>
                      <td>{{ user.exp }}</td>
                      <td>{{ user.login }}</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>

              <v-divider></v-divider>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="green"
                  dark
                  @click="addUser()"
                  class="ma-4"
                >
                  Пригласить
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

        </v-row>

      </v-card>
    </v-flex>
  </v-layout>
</div>

</template>

<script>
  import { HTTP } from '@/http-common';

  export default {
    name: 'Project',
    props: ['id'],
    data () {
      return {
        projectData: '',
        toggle_exclusive: false,
        menu: '',
        solution: '',
        statuses: [],
        dialog: false,
        submit_result: '',
        team: [],
        invited: []
      }
    },
    computed: {
      config () {
        let config = {
          headers: {
            'Authorization': "Bearer " + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic3R1ZGVudCIsInVzZXJfaWQiOjEsImxvZ2luIjoid3d3IiwidXNlcl91dWlkIjoiNTg2ZDAyODctZDYzNC00NTMzLThiMjktNzc5Y2E5YzNjYTM0IiwiZXhwIjoxNTcyMzMyNTA0LCJpYXQiOjE1NzIxMTY1MDR9.5pU2nt0nmjczr6yyECqnAlDb4dYLys2-kPTxZGZRBmc"
          }
        }
        return config
      }
    },
    created () {
      this.getStatuses ()
      this.getProject ()
      this.getUsers ()
    },
    methods: {
      getProject () {
        HTTP.get('/project/' + this.id, this.config).then(response => {
          this.projectData = response.data.project
          this.team = response.data.group.users
        })
      },
      submit () {
        let body = {
          "project_id": parseInt(this.id),
          "status": "need_check",
          "comment": this.solution
        }
        HTTP.post('/project/status', body, this.config).then(response => {
          this.submit_result = response
          this.getStatuses()
        })
      },
      addUser () {
        this.dialog = false
        let body = {
          "project_id": parseInt(this.id),
          "users_id": this.invited
        }
        HTTP.put('/group/addusers', body, this.config).then(response => {
          this.submit_result = response
          this.getProject()
        })
      },
      getStatuses () {
        HTTP.get('/project/statuses/' + this.id, this.config).then(response => {
          this.statuses = response.data
        })
      },
      getUsers () {
        HTTP.get('/users', this.config).then(response => {
          this.users = response.data
        })
      }
    }
  }
</script>

<style>

</style>