<template>
  <div>
    <h1 align="center">Карта проектов</h1>
    <div class="bigMap">
      <div class="pr1" @click="goToOrder(1)">1</div>
      <div class="pr2" @click="goToOrder(2)">2</div>
      <div class="pr3" @click="goToOrder(3)">3</div>
      <div class="pr4" @click="goToOrder(4)">4</div>
      <div class="pr5" @click="goToOrder(5)">5</div>
      <div class="pr6" @click="goToOrder(6)">6</div>
      <div class="pr7" @click="goToOrder(7)">7</div>
      <div class="pr8" @click="goToOrder(8)">8</div>
      <div class="pr9" @click="goToOrder(9)">9</div>
      <div class="pr10" @click="goToOrder(10)">10</div>
      <div class="pr11" @click="goToOrder(11)">11</div>
      <div class="pr12" @click="goToOrder(12)">12</div>
      <div class="pr13" @click="goToOrder(13)">13</div>
      <div class="pr14" @click="goToOrder(14)">14</div>
    </div>
  </div>
</template>

<script>
import router from '@/router'
  export default {
    components: {
    },
    data () {
      return {
      }
    },
    computed: {

    },
    watch: {

    },
    methods: {
      goToOrder (uuid) {
        router.push('/project/' + uuid)
      }
    }
  }
</script>

<style>
.person {
  cursor: pointer;
  width: auto!important
}
.extend_handle {
  display: none;
}

.bigMap {
  width: 1100px;
  height: 1000px;
  background: url('/map.png') 0 0 no-repeat;
  background-size: contain;
  position: relative;
}
.pr1, .pr2, .pr3, .pr4, .pr5, .pr6, .pr7, .pr8, .pr9, .pr10, .pr11, .pr12, .pr13, .pr14 {
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: absolute;
  top: 13px;
  left: 560px;
  border-radius: 50%;
  opacity: 0;
  background: red;
}
.pr2 {
  top: 176px;
}
.pr3 {
  top: 306px;
  left: 190px;
}
.pr4 {
  top: 306px;
  left: 908px;
}
.pr5 {
  top: 346px;
}
.pr6 {
  top: 461px;
  left: 910px;
}
.pr7 {
  top: 514px;
  left: 560px;
}
.pr8 {
  top: 469px;
  left: 190px;
}
.pr9 {
  top: 615px;
  left: 912px;
}
.pr10 {
  top: 663px;
  left: 93px;
}
.pr11 {
  top: 735px;
  left: 746px;
}
.pr12 {
  top: 604px;
  left: 397px;
}
.pr13 {
  top: 824px;
  left: 302px;
}
.pr14 {
  top: 712px;
  left: 534px;
}
</style>
