<template>
  <div>
    <v-app v-if="!pathIsRoot">
      <v-app-bar app v-if="$route.name !== 'Login'">

        <v-toolbar-title class="headline text-uppercase" :to="{name: 'Landing'}">
          <span>Faem education</span>
        </v-toolbar-title>

        <v-spacer></v-spacer>

        <v-toolbar-items>
          <v-btn :to="{name: 'Landing'}">Главная</v-btn>
          <v-btn :to="{name: 'Map'}">Карта проектов</v-btn>
          <v-btn :to="{name: 'Landing'}">Выход</v-btn>
        </v-toolbar-items>

      </v-app-bar>

      <v-content>
        <div class="container mt-4">
          <router-view></router-view>
        </div>
      </v-content>
    </v-app>
    <div v-if="pathIsRoot">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  components: {},
  data() {
    return {};
  },
  computed: {
    pathIsRoot() {
      return this.$route.path === '/'
    }
  }
}
</script>

<style>
  body {
    font-size: 16px;
    line-height: 1.4;
  }
  p {
    line-height: 1.4 !important;
  }
  hr {
    border: 0;
    border-top: 1px solid #e0e0e0;
  }
</style>
